<div class="about-main">
  <h2>MedAppとは</h2>
  <p>
    マインドフルネス瞑想を皆で続けるためのアプリです。
  </p>
  <p>
    MedAppのMedには、MeditationとMedicationの二つの意味があります。
  </p>
  <img class="about-img" src="/tweets.png">
</div>
